<h1>Create new question</h1>

<form action="/tests/<%= params[:test_id] %>/questions" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <p>
  <label for="question-content">Content:</label>
  <input type="text" name="question[content]" id="question-content">
  </p>
  <br>

  <input type="submit" value="Create">
</form>
