<h1>Question information</h1>
<p>
<ul>
  <li>
    <strong>Question content:</strong>
    <%= @question.content %>
  </li>
  <li>
    <strong>Creation date:</strong>
    <%= @question.created_at %>
  </li>
  <li>
    This question belongs to '<%= @question.test.title %>' test
  </li>
</ul>
</p>
