<h1>Badges overview</h1>

<table class="table table-nostretch">
  <tr>
    <th>Badge picture</th>
    <th>Badge description</th>
    <th>Badge name</th>
  </tr>

  <%= render partial: 'shared/badge', collection: @badges %>
</table>

<%= link_to 'Your personal badge collection', badges_user_badges_path %>
