<h1>Personal badge collection</h1>

<p>You have earned the following badges</p>

<table class="table">
  <tr>
    <th>Badge picture</th>
    <th>Badge name</th>
  </tr>

  <%= render @badges %>
</table>
