<h1>Personal badge collection</h1>

<% if @badges.empty? %>
  <p>Currently you have no badges</p>
<% else %>
  <p>You have earned the following badges</p>
<% end %>

<table class="table table-nostretch">
  <tr>
    <th>Badge picture</th>
    <th>Badge name</th>
  </tr>

  <%= render partial: 'shared/badge', collection: @badges %>
</table>
