<div>
  <hr>
  <p>
  <%= current_year %> | Author: _VXD7 | Github page: <%= github_url('vxd7', 'test-guru') %>
  </p>

  <p>
  Платформа для создания, прохождения и просмотра тестов TestGuru
  </p>

  <p>
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/', target: :_blank %>
  </p>
</div>
