<h1>All questions of test '<%=@test.title %>'</h1>

<p><%= link_to 'Create new question for this test', new_test_question_path(@test) %></p>

<table>
  <tr>
    <th>Question content</th>
    <th colspan=3>Actions</th>
  </tr>
  <%= render @test.questions %>
</table>
