<h1>All tests in the database</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Category</th>
    <th># of questions</th>
    <th>Actions</th>
  </tr>

  <%= render @tests %>
</table>
